body {
    background-color: #f5f5f5;
}

.brand-logo img {
    height: 64px;
}

.title {
    font-size: 16px;
    font-size: 6.5vw;
}
[data-i18n]::before {
   content: attr(data-i18n);
}
/* Dutch */
[data-i18n-nl]:lang(nl)::before {
   content: attr(data-i18n-nl);
}